@import '../../src/common/reset.css';
@import '../nav/nav.css';
@import '../modal/modal.css';

.slides {
	display: flex;
	transition: transform 0.5s;
	/* width: 300%; */
	transform: translateX(0);
}

.slide {
	flex: 1 0 100%;
	overflow: hidden;
}

.slides img {
	width: 100%;
	height: 500px;
}

.thumb-bnner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
}
.thumb-bnner p {
	margin-top: 20px;
}
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
}

.thumb-bnner-list {
	margin-top: 20px;
}

.item-list {
	display: flex;
	justify-content: space-between;
	margin: 0 25px;
	flex-wrap: wrap;
}

.item-content {
	width: 24%;
	position: relative;
	margin-bottom: 20px;
}

.item-content img {
	width: 425px;
	height: 425px;
}

.btn,
.btn-primary {
	display: none;
	background-color: #edcfc4;
	border: 1px solid #edcfc4;
	position: absolute;
	/* left: 5px; */
	top: 355px;
	width: 425px;
	height: 70px;
	border-radius: 3px;
}

.btn.btn-primary:active {
	background-color: #be3455;
	border: 1px solid #be3455;
}

.image:hover .btn {
	display: block;
	background-color: #edcfc4;
	border: 1px solid #edcfc4;
}

.description {
	padding: 10px 0px;
	text-align: center;
}

.name {
	color: #555555;
}

.slide-section {
	display: flex;
	margin-top: 70px;
}

.high-group button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s; /* 부드러운 효과를 위한 전환(transition) */
}

.silde-section-text {
	flex-direction: row;
	margin-left: 60px;
}
.slide-control {
	flex-direction: row;
	margin-left: 50px;
}

.silde-section-text button:hover {
	color: #be3455;
}
.silde-item-container {
	position: relative;
	width: 1800px;
	margin: 0 auto;
	height: 500px;
	overflow: hidden;
}
.silde-items-wrapper {
	position: absolute;
	left: 0;
	top: 0;
}
.silde-items-wrapper.active {
	transition: 0.5s ease-out;
}
.silde-items-wrapper li {
	float: left;
}
.silde-items-wrapper img {
	width: 340px;
	height: 475px;
	margin: 10px 14px 10px 13.88px;
}

.recommend-slide-section .silde-section-text {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 70px;
}

.recommend-slide-section {
	/* position: relative; */
	margin-bottom: 50px;
}
.recommend-slide-section .slide-control {
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
}

.recommend-silde-items-wrapper {
	width: 1200px;
	display: flex;
	align-items: flex-start;
}
.recommend-silde-items-wrapper img {
	width: 350px;
	height: 350px;

	margin: 20px;
}

.recommend-slide-section .slide-control button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s; /* 부드러운 효과를 위한 전환(transition) */
}

.category-item-container {
	border-top: solid #cbc0c0 2px;
	padding: 20px;
	margin: 70px 30px;

	display: flex;
	flex-direction: column;
}
.catergory-text {
	color: #555555;
}

.category-content {
	margin-bottom: 20px;

	display: flex; /* Flexbox 사용 */
	flex-direction: column; /* 수직 방향 정렬 */
	align-items: center; /* 수평 중앙 정렬 */
	justify-content: center; /* 수직 중앙 정렬 */
}
.category-item-list {
	display: flex;
	justify-content: space-between;
}

.category-item-list .category-content {
	width: 300px;
	height: 300px;
	position: relative;
	overflow: hidden;

	z-index: 1;
	opacity: 1;
}

.category-name {
	position: absolute;
	color: #928b8b;
	font-size: 24px;
	z-index: 1;

	/* 인라인 블록으로 설정해서 길이가 내용에 따라 동적으로 변경되게 설정 */
	display: inline-block;

	/* 필요한 경우 패딩 추가 */
	padding: 5px;
	text-align: center; /* 텍스트 중앙 정렬 */
}

.category-item-list .image img {
	width: 100%;
	height: auto;

	transition: all 0.2s ease-in-out;
}
.category-item-list .image img:hover {
	transform: scale(1.05);
	opacity: 0.7;
}
