@import '/common/reset.css';
@import '/common/nav.css';

.serv-list h1 {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 400;
}

.serv-list {
	padding-bottom: 70px;
}

.serv-list .complete-wrap {
	max-width: 1100px;
	margin: auto;
}

.serv-list .complete {
	text-align: center;
	padding: 30px 50px;
}

.serv-list .message {
	margin-bottom: 15px;
}

.serv-list .complete .title {
	font-size: 35px;
	font-weight: bold;
}

.serv-list .order-number,
.serv-list .number {
	font-size: 20px;
}

.serv-list .number {
	color: #be3455;
}

.serv-list .info {
	background-color: white;
	padding: 30px;
	margin-bottom: 40px;
}

.serv-list .delivery-info {
	margin-bottom: 70px;
}

.serv-list .button {
	text-align: center;
}

.serv-list .btn-primary {
	width: 170px;
	height: 50px;
}

.serv-list #detail {
	background-color: #edcfc4;
	border: 1px solid #edcfc4;
	margin-right: 10px;
}

.serv-list #detail:hover {
	background-color: #edcfc4;
	border: 1px solid #edcfc4;
}

.serv-list #detail:active {
	background-color: #edcfc4;
	border: 1px solid #edcfc4;
}

.serv-list #shop {
	background-color: #be3455;
	border: 1px solid #be3455;
}

.serv-list #shop:hover {
	background-color: #be3455;
	border: 1px solid #be3455;
}

.serv-list #shop:active {
	background-color: #be3455;
	border: 1px solid #be3455;
}
